NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AUTH_SESSION_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

AMOCRM_DOMAIN=
AMOCRM_ACCESS_TOKEN=
AMOCRM_WEBHOOK_SECRET=
AMOCRM_TARGET_STATUS_ID=84088646
AMOCRM_TARGET_STATUS_IDS=84088646,85285282
AMOCRM_MODULES_FIELD_ID=

GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
